@{
    Layout = null;
}
<div class="lindicator-container lindicator-spinner lindicator-spinner-container"
     *ngIf="(spinnerService.showSpinner|async) && !(spinnerService.showDialog|async)">
    <div class="loading-overlay lindicator"></div>
    <div class="loading-indicator lindicator"></div>
</div>
<div class="lindicator-container lindicator-dialog" [ngClass]="{'lindicator-global-spinner-container': globalSpinner}"
     *ngIf="(spinnerService.showSpinner|async) && (spinnerService.showDialog|async)">
    <div class="loading-overlay lindicator"></div>
    <div [ngClass]="{'lindicator-inner': !globalSpinner, 'lindicator-global-spinner-container': globalSpinner}">
        <div class="k-widget k-window loading-indicator dialog-indicator"
             [ngClass]="{'spinner-dialog-indicator': !globalSpinner, 'lindicator-spinner-dialog': globalSpinner}">
            <div class="k-window-titlebar k-header">
                &nbsp;<span class="k-window-title" id="LoadingDialog_Title">{{spinnerService.getCommonUIRes("Pleasewait_Title")}}</span>
            </div>
            <div id="LoadingDialog_Content" data-role="window" class="k-window-content k-content" tabindex="-1" role="dialog">
                <div class="content">
                    <form>
                        <div class="lindicator"></div>
                        <p>{{spinnerService.pleaseWaitMsg}}</p>
                    </form>
                </div>
                <div class="footer" *ngIf="spinnerService.showFooter">
                    <button id="btn-cancel" type="button" class="btn btn-default btn-cancel"
                            (click)="spinnerService.onclickCancelButtonPleasewaitDialog()">
                        {{spinnerService.getCommonUIRes("Button_Cancel")}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
